.contact-section {
  max-width: 600px;
  margin: 0 auto 100px;
  text-align: center;
}

.contact-subtitle {
  color: var(--light-slate);
  font-size: clamp(40px, 5vw, 60px);
  margin: 0 0 20px;
}

.contact-section p {
  color: var(--slate);
  max-width: 500px;
  margin: 0 auto 50px;
}

.cta-button {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cta-button:hover {
  background-color: rgba(100, 255, 218, 0.1);
}
